@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

body {
  background-color: #dde2e8;
  background-image: url('img/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.container {
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #dde2e8;
  box-shadow: 0 0 5px #aaa;
}

h1 {
  font-weight: 300;
}

.new-item {
  margin-top: 2rem;
}

.input-field {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.input-field label {
  width: 5rem;
}

.input-field input {
  flex: 1;
  border-radius: 1rem;
  border: 1px solid gray;
  line-height: 2rem;
  padding: 0 1rem;
  box-shadow: 0 0 1rem #aaa;
}

.input-field input:focus {
  outline: none;
  border: 1px solid black;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

button {
  outline: none;
  border: none;
  color: white;
  background-color: #dda1ad;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #aaa;
  transition: 200ms;
}

button:hover {
  transform: scale(1.15);
}

.shopping-list {
  margin-top: 2rem;
}

.item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #666;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #aaa;
  margin-bottom: 0.5rem;
}
