@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

body {
  color: #777;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.app {
  display: flex;
  flex-flow: row wrap;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  color: #e56c19;
  font-weight: 900;
}

nav a {
  display: inline-block;
  padding: 0 1rem 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
}

nav a:hover {
  color: black;
}

.intro {
  width: 50%;
}

.intro h2 {
  font-weight: 300;
  font-size: 3rem;
  color: black;
}

.pose {
  padding: 2rem;
  width: 50%;
  height: auto;
}

p {
  line-height: 150%;
}
