* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.dice {
  width: 10rem;
  height: 10rem;
}
